/*
Things to do:
1. Move detailsDiv under star, name and button
2. Set the area, where the note is display, fixed
3. Adjust the spacing between elements in .exercise and align to the center in the center of the screen
*/

html {
    background-color: lightslategray;
    font-family: system-ui;
}

body {
    display: flex;
    flex-flow: column wrap;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#exercise-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list {
    display: grid
}

.exercise {
    display: flex;
    align-items: center;
}

.exercise-details {
    display: flex;
    flex-direction: column;
}

.details-hidden {
    display: none;
}

textarea {
    resize: none;
    vertical-align: middle;
    font-family: system-ui;
    font-size: 16px;
}

.note-form, .note-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
}