html, body {
    background-color: lightslategray;
    font-family: system-ui;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-height: 75vh;
}

header {
    display: grid;
    grid-template-columns: 700px;
    justify-content: center;
    text-align: center;
}

#title {
    font-size: 100px;
    margin: 0;
}

#exercise-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3%;
}

.list {
    display: grid;
    grid-template-columns: 700px;
    justify-content: center;
}

.message {
    display: grid;
    justify-content: center;
}

.exercise {
    display: grid;
    grid-template-columns: 25px auto 55px;
    align-items: center;
    margin-bottom: 1px;
}

.exercise-details {
    display: grid;
    grid-template-columns: 300px;
    grid-column: span 3;
    justify-content: center;
    justify-items: center;
}

.details-hidden {
    display: none;
}

textarea {
    resize: none;
    font-family: system-ui;
    font-size: 16px;
    justify-self: stretch;
}

.note-form {
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.note-container {
    display: grid;
    justify-self: stretch;
}

footer {
    display: grid;
    grid-template-columns: 700px;
    justify-content: center;
    justify-items: center;
    font-style: italic;
}