/*
Things to do: test
1. Move detailsDiv under star, name and button
2. Keep detailsDiv hidden when applying CSS selector
3. Set the area, where the note is display, fixed
4. Adjust the spacing between elements in .exercise
*/

html {
    background-color: lightslategray;
    font-family: system-ui;
}

body {
    display: flex;
    flex-flow: column wrap;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#exercise-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exercise {
    display: flex;
    align-items: center;
}

/* .exercise-details {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

textarea {
    resize: none;
    vertical-align: middle;
    font-family: system-ui;
    font-size: 16px;
}

.note-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
}